@import './insta-grid/insta-grid';
@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';


.instagram {
  @include flex(column, flex-start, center);
  @include size(100%, calc(100vh - 50px))

  &__content {
    @include flex(row, flex-start, center);
    @include size(200%, 100%);
    padding: 10px;
    box-sizing: border-box;

    @media (max-width: 768px) {
      padding: 10px 0 0 0;
    }
  }

  &__stats {
    @include flex(column, flex-start, center);
    flex: 1;
    width: 100%;
    box-sizing: border-box;
  }
}
