@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

@import './insta-grid/insta-grid';

.instagram {

  &__container {
    @include flex(column, flex-start, center);
    width: 100%;
    height: calc(100vh - 50px);
  }

  &__content-wrapper {
    @include flex(column, flex-start, center);
    @include size(100%, 100%);
    padding: 10px;
    box-sizing: border-box;

    @media (max-width: 768px) {
      padding: 10px 0 0 0;
    }
  }
}
