.menu {

  &__wrapper {
    @include flex(column, center, center);
    @include size(100%, $app-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }

  &__inner {
    @include flex(column, center, center);
    @include size(100%, 100%);
    position: relative;
    max-width: 1000px;
    background: white;
    color: white;
  }

  &__top-bar {
    @include flex(row, flex-end, center);
    @include size(100%, 50px);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 30;

    @media (max-width: 768px) {
      padding: 0 10px
    }
  }

  &__button--close {
    color: $black;
    font-size: 1.2rem;
    transition: all 0.3s ease;

    &:focus,
    &:hover {
      transform: scale(1.1);
    }
  }

  &__button {
    width: 100%;
    margin: 5px 0;
    padding: 15px 0;
    background: transparent;
    text-align: center;
    font-family: $font-family--main;
    font-size: 2rem;
    font-weight: $font--thick;
    color: $black;
    text-transform: lowercase;
    text-decoration: none;
    transition: all 0.3s ease;

    &:focus,
    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }
}
