@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.menu {

  &__wrapper {
    @include flex(column, center, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $app-height;
    z-index: 20;
  }

  &__inner {
    position: relative;
    @include flex(column, center, center);
    @include size(100%, 100%);
    max-width: 768px;
    background: linear-gradient(-130deg, $blue, $pink);
    background-size: 130% 100%;
    color: white;
  }

  &__top-bar {
    @include flex(row, flex-end, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 30;

    @media (max-width: 768px) {
      padding: 0 7px
    }

    button {
      color: white;
      font-size: 1.2rem;
      transition: all 0.3s ease;

      &:focus,
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__logout {
    @include flex(row, center, center);
    width: 100%;

    button {
      width: 100%;
      max-width: 300px;
      background: transparent;
      text-align: center;
      font-family: $font-family--main;
      font-size: 1rem;
      font-weight: $font--thick;
      color: white;
      padding: 15px 0;
      border: 2px solid white;
      border-radius: 3px;
      text-transform: lowercase;
      transition: all 0.3s ease;

      &:focus,
      &:hover {
        border-color: $blue;
        color: $blue;
      }
    }
  }
}
