.insta-user-counts {
  @include flex(row, center, center);
  width: 100%;
  min-height: 70px;
  margin: 0;
  padding: 7px 0;
  list-style: none;

  &__count {
    @include flex(column, center, center);
    flex-grow: 1;
  }

  p {
    margin: 0;
    padding: 2px 0;
  }
}
