.nav-tabs {
  @include flex(row, center, center);
  @include size(100%, 30px);
  padding: 7px 0;
  transition: all 0.3s ease;

  &__button {
    min-height: 38px;
    margin: 0 10px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    font-family: $font-family--main;
    font-weight: $font--thick;
    font-size: 0.85rem;
    text-transform: lowercase;
    color: lighten($black, 20%);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;

    &:focus,
    &:hover,
    &:active {
      color: lighten($black, 10%);
    }
  }

  &--active {
    border-bottom: 2px solid $blue !important;
  }

  &--active-pink {
    border-bottom: 2px solid $pink !important;
  }
}
