.insta-header {
  @include flex(column, center, center);
  width: 100%;
  background-color: lighten($black, 75%);
  padding: 15px 0;

  &__image-wrapper {
    @include size(88px, 88px);
    border-radius: 50%;
    overflow: hidden;

    img {
      @include size(90px, 90px);
    }
  }

  &__username {
    margin: 7px 0;
    font-size: 0.9rem;
    font-family: $font-family--main;
    font-weight: $font--thick;
    color: $black;
  }
}
