
// Colors
$black: lighten(#111, 16%);
$blue: #01e1ff;
$pink: #ff018a;
$purple: #6666cc;

// Fonts
$font-family--main: 'Roboto';
$font-family--display: 'Satisfy';

// Font Weights
$font--thin: 100;
$font--medium: 300;
$font--thick: 600;

// Dimension
$app-width: 100vw;
$app-height: 100%;

$total-images: 20;
