@import '../../../styles/utils/mixins';
@import '../../../styles/utils/variables';

.placeholder {

  &__container {
    @include flex(column, center, center);
    width: 100%;

    i {
      font-size: 5rem;
      color: transparentize($black, 0.7);
    }

    button, a {
      @include flex(row, center, center);
      min-width: 200px;
      margin: 10px 0;
      padding: 15px 30px;
      background: transparent;
      border: 2px solid transparentize($black, 0.7);
      border-radius: 3px;
      text-align: center;
      font-family: $font-family--main;
      font-size: 0.95rem;
      font-weight: $font--thick;
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease;

      &:focus,
      &:hover {
        color: rgb(1, 225, 255);
        border-color: rgb(1, 225, 255);
      }

      @media (max-width: 768px) {
        margin: 7px 0;
      }

      span {
        margin-bottom: 2px;
      }
    }
  }
}
