@import '../../../styles/utils/mixins';
@import '../../../styles/utils/variables';

.engagement-box {
  @include flex(column, center, center);
  @include size(100%, 100%);
  flex: 1;
  position: relative;
  padding: 15px;
  border-radius: 3px;
  background: linear-gradient(290deg, #06defc 0%, #fc06c6 100%);
  background-size: 500% 100%;
  animation: movingGradient 30s ease infinite;

  p {
    margin: 0;
  }

  @media screen and (orientation:landscape) {
    min-height: 327px;
  }

  @media (max-width: 768px) {
    border-radius: 0;
  }

  &__rate {
    @include flex(row, center, center);
    @include size(100%, 100%);
    color: white;
    font-family: $font-family--main;
    font-size: 2.5rem;
    font-weight: $font--thin;
    letter-spacing: -1px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include size(100%, 100%);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__grid-item {
    @include flex(column, center, center);
    flex-grow: 1;
    height: 100%;
    padding: 20px;

    &:first-child {
      border-right: 1px solid transparentize(white, 0.5);
      border-bottom: 1px solid transparentize(white, 0.5);
    }

    &:nth-child(2) {
      border-bottom: 1px solid transparentize(white, 0.5);
    }

    &:nth-child(3) {
      border-right: 1px solid transparentize(white, 0.5);
    }
  }
}
