.top-bar {
  @include flex(row, center, center);
  @include size(100%, 50px);
  // padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
  z-index: 20;

  @media (max-width: 768px) {
    padding: 0 10px
  }

  &__inner {
    @include flex(row, space-between, center);
    width: 100%;
    max-width: 1000px;
  }

  &__logo {
    @include flex(row, center, center);
    flex: 1;
    margin: 0;
    padding-bottom: 5px;
    font-family: $font-family--display;
    color: $black;
    font-size: 1.8rem;
    cursor: pointer;
  }

  &__button {
    color: $black;
    font-size: 1.1rem;
    padding: 0;
    transform-origin: center;
    transition: all 0.3s ease;

    &:first-child {
      opacity: 0;
    }

    &:focus,
    &:hover {
      transform: scale(1.1);
    }
  }
}
