@import './styles/base';

html {
  font-size: 16px;
}

html,
body,
#root {
  max-width: $app-width;
  min-height: $app-height;
  height: 100%;
}

body,
#root,
.app__wrapper,
.app__inner {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}


.app {
  @include flex(column, center, center);
  @include size(100%, 100%);
  position: relative;

  * {
    box-sizing: border-box;
  }

  &__inner {
    @include flex(column, center, center);
    @include size(100%, 100%);
    max-width: 768px;
  }

  &__content {
    @include flex(column, center, center);
    @include size(100%, 100%);
    padding-top: 50px;
  }

  &__section {
    @include flex(column, flex-start, center);
    @include size(100%, 100%);
  }

  &--show {
    transform: translateX(0);
  }

  &--hidden {
    opacity: 0;
  }

  &--remove {
    display: none;
  }
}

button {
  background: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}
